div.homescroll{
  overflow: auto;
  white-space: nowrap;
}
div.homescroll a{
  display: inline-block;
  font-size: 6em;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
